.ofertaCard {
    border-radius: 12px;
    border: 1px solid #e9ecef;
    background-color: #f9f9f9;
}

.ofertaCard:first-child {
    border-color: var(--color-secondary-acent);
    background-color: rgba(177, 245, 199, 0.2);
}

.position {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 1px solid #e9ecef;
    background-color: #efefef;
    font-size: 0.82rem;
    font-weight: 600;
    flex-shrink: 0;
}

.ofertaCard:first-child .position {
    border-color: var(--color-secondary-acent);
    background-color: rgba(177, 245, 199, 0.4);
    color: var(--color-secondary);
}

.ofertaSeleccionada,
.ofertaSeleccionada .position {
    background-color: rgba(144, 238, 144, 0.2);
    border: 3px solid rgba(144, 238, 144, 0.5);
}